<div id="processing_dialog_plugin_ABL_Expert" class="modal fade">
  <div class="modal-header">
    <h3>{{ _('Bed Leveling Expert') }}</h3>
  </div>
  <div class="modal-body">
    <div data-bind="if: preheatingEnabled() && onLeveling() && !preheatingDone()">
      <h4>{{ _('Preheating') }}</h4>
      <table class="temp">
        <tbody>
          <tr>
            <th class="temperature_tool"></th>
            <th title="{{ _('Current actual temperature as reported by your printer') }}" class="temperature_actual">{{ _('Actual') }}</th>
            <th title="{{ _('Current target temperature as reported by your printer') }}" class="temperature_target">{{ _('Target') }}</th>
          </tr>
          <tr>
            <th title="{{ _('Tool') }}" class="temperature_tool">{{ _('Tool') }}</th>
            <td data-bind="html: formatTemperature(temp.tools()[0].actual()), attr: {title: formatTemperature(temp.tools()[0].actual())}" class="temperature_actual"></td>
            <td data-bind="html: formatTemperature(temp.tools()[0].target()), attr: {title: formatTemperature(temp.tools()[0].target())}" class="temperature_target"></td>
          </tr>
          <tr>
            <th title="{{ _('Bed') }}" class="temperature_tool">{{ _('Bed') }}</th>
            <td data-bind="html: formatTemperature(temp.bedTemp.actual()), attr: {title: formatTemperature(temp.bedTemp.actual())}" class="temperature_actual"></td>
            <td data-bind="html: formatTemperature(temp.bedTemp.target()), attr: {title: formatTemperature(temp.bedTemp.target())}" class="temperature_target"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div data-bind="if: preheatingDone() && onLeveling()">
      <h4>{{ _('Probing') }}</h4>
      <div class="spinner"><i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" data-bind="visible: onLeveling()" class="btn btn-block">{{ _('Cancel') }}
    </button>
    <button data-dismiss="modal" data-bind="visible: !onLeveling()" class="btn btn-block">{{ _('Close') }}
    </button>
  </div>
</div>
<div id="results_dialog_plugin_ABL_Expert" class="modal fade">
  <div class="modal-header">
    <h3>{{ _('Bed Leveling Expert') }}</h3>
  </div>
  <div class="modal-body">
    <div>
      <h4>{{ _('Results :') }}</h4>
      <div data-bind="visible: probedMeshTable(), html: probedMeshTable()" class="meshTable"></div>
      <div data-bind="visible: fixedMeshTable(), html: fixedMeshTable()" class="meshTable"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-block">{{ _('Close') }}
    </button>
  </div>
</div>
<div id="controlAblButton" class="hide">
  <button id="ablButton" data-bind="enable: isOperational() && !isPrinting(), click: function() { $root.doLeveling() }" class="btn control-box">{{ _('Bed leveling') }}
  </button>
</div>
